:root {
  --background-dark-color: #1f2937;
  --background-secondary-color: #e5e7eb;
  --background-button-color: #3382f6;
  --text-primary-color: #f9faf8;
  --text-secondary-color: #e5e7eb;
  --text-alt-color: #1f2937;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

/* Text Classes */
.hero-main-text {
  font-size: 48px;
  font-weight: 900;
  color: var(--text-primary-color);
}

.hero-secondary-text {
  font-size: 18px;
  color: var(--text-secondary-color);
}

.hero-logo-text {
  font-size: 24px;
  color: var(--text-primary-color);
}

.information-header-text {
  font-size: 36px;
  font-weight: 900;
  color: var(--text-alt-color);
  padding-bottom: 40px;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  color: var(--text-alt-color);
}

.quote-author {
  text-align: right;
  font-weight: bold;
}

/* Section Classes */
.hero-section {
  background-color: var(--background-dark-color);
  height: 70vh;
}

.section-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 100px 0;
}

.info-boxes li {
  max-width: 150px;
  padding: 0 30px;
}

.info-boxes li p {
  text-align: center;
}

.box-primary {
  background-color: var(--background-button-color);
  border-radius: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
  margin-top: 50px;
  color: var(--text-primary-color);
}

.box-secondary {
  border: 3px solid var(--background-button-color);
  border-radius: 10px;
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.section-secondary {
  background-color: var(--background-secondary-color);
  padding: 100px 0;
}

.section-secondary .wrapper {
  max-width: 835px;
}

/* Navbar Classes */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.nav-bar-links li {
  margin-left: 25px;
}

/* Hero Classes */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero div {
  width: 45%;
}

.hero_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero_right {
  background-color: grey;
  padding: 100px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-color);
}

.hero-main-text {
  color: var(--text-primary-color);
  font-size: 48px;
  font-weight: 900;
}

/* Button Classes */
.btn-primary {
  border: 1px solid var(--background-button-color);
  border-radius: 5px;
  background-color: var(--background-button-color);
  color: var(--text-primary-color);
  padding: 5px 30px;
  margin-top: 10px;
}

.btn-secondary {
  border: 1px solid var(--text-primary-color);
  border-radius: 5px;
  background-color: var(--background-button-color);
  color: var(--text-primary-color);
  padding: 5px 30px;
  margin-top: 10px;
}
