:root {
  --background-dark-color: #1f2937;
  --background-secondary-color: #e5e7eb;
  --background-button-color: #3382f6;
  --text-primary-color: #f9faf8;
  --text-secondary-color: #e5e7eb;
  --text-alt-color: #1f2937;
}

body {
  font-family: 'Roboto', sans-serif;
}
